*{
margin: 0;
padding: 0;

}
body{
    background-color: #000000d0;
    color: aliceblue;
  align-content: center;
}

header{
    background-color: rgb(136, 136, 136);
    padding: 20px 0;
    text-align: left;
}
a{
    background-color: rgb(255, 0, 0);
color: aliceblue;
}