*{
margin: 0;
padding: 0;

}
body{
   background-image: url("img1.png");
    color: aliceblue;
  align-content: center;
}

header{
    background-color: rgb(136, 136, 136);
    padding: 20px 0;
    text-align: left;
}
a{
    background-color: rgb(255, 0, 0);
color: aliceblue;
}

input, select {
  width: 100%;
  max-width: 300px;
  padding: 10px 12px;
  margin-bottom: 12px;

  background-color: #1e1e1e; /* fundo escuro */
  color: #fff;               /* texto branco */

  border: 1px solid #444;
  border-radius: 6px;

  font-size: 14px;
  outline: none;
}

input:focus, select:focus {
  border-color: #ff3b3b;
  box-shadow: 0 0 0 2px rgba(255, 59, 59, 0.3);
}

select {
  appearance: none;
  cursor: pointer;
}

button {
  width: 100%;
  max-width: 300px;
  padding: 10px;

  background-color: #ff3b3b;
  color: white;

  border: none;
  border-radius: 6px;

  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #e63232;
}

.btn-alunos {
  position: fixed; /* fica sempre no canto */
  top: 20px;
  right: 20px;

  background: #e50914; /* vermelho estilo botão */
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;

   @media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-position: top center;
  }
}

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}

